<h1>Edit</h1>
<form action="/edit/{{_id}}" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{name}}">
    <br>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" value="{{phone}}">
    <br>
    <input type="submit" value="Save">
</form>